<html>
<head>
  <title>Welcome to Ansible</title>
</head>
<body>
  <h1>Nginx, configured by Ansible</h1>
  
  <p>If you can see this, Ansible successfully installed nginx.</p>

  <p>{{ ansible_managed }}</p>

  <p>ansible_hostname: {{ ansible_hostname }}</p>

</body>
</html>